<ion-content padding center text-center>
  <div
    style="width: auto;
              height: 128px;
              line-height: 128px;
              font-size: 40px;
              font-weight: 500;
              margin: 32px auto;
              color: white;
              border-radius: 2px;
              text-transform: uppercase;
              background-color: #488aff;"
  >
    <span>Grabmyfood</span>
  </div>
  <h3>Welcome to Grabmyfood <br>  Restaurant apps</h3>
  <p>Log in to your account</p>

  <form #f="ngForm" (ngSubmit)="loginButtonClicked(f)">
    <ion-list style="margin-top: 100px;">
      <ion-item>
        <ion-input
          type="text"
          placeholder="email"
          name="email"
          ngModel
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          type="password"
          placeholder="Password"
          name="password"
          ngModel
          required
        ></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button block type="submit" [disabled]="!f.valid">Login</button>
  </form>
</ion-content>
