<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Order" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Menu" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Profile" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Report" tabIcon="albums"></ion-tab>
</ion-tabs>
