<ion-header>
  <ion-navbar>
    <ion-buttons left>
        <button ion-button icon-only (click)="onClickBackButton()">
          <ion-icon name="arrow-back"></ion-icon>
          Back
        </button>
    </ion-buttons>
    <ion-segment [(ngModel)]="orderType" color="primary">
        <ion-segment-button value="liveOrders">Live Orders</ion-segment-button>
        <ion-segment-button value="pastOrders">Past Orders</ion-segment-button>
    </ion-segment>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="orderType === 'liveOrders'">
    <ion-card class="order-card" *ngFor="let item of [1,2,3,4,5]">
      <ion-card-content>
          Live Order #{{ item }}
      </ion-card-content>
    </ion-card>  
  </ion-list>
  <ion-list *ngIf="orderType === 'pastOrders'">
    <ion-card class="order-card" *ngFor="let item of [1,2,3,4,5]">
      <ion-card-content>
          Past Order #{{ item }}
      </ion-card-content>
    </ion-card>
  </ion-list>
  
</ion-content>