page-category {
    ion-card {
        text-align: center;
        margin: 0px;
        padding: 10px 0;
        border-radius: 0;
        height: 140px;
    }

    .card-title {
        font-size: 16px;
        font-weight: bold;
        color: black;
    }

    .card-subtitle {
        color: black;
    }
}
