<ion-header>
  <ion-navbar>
    <ion-title>
      Menu Manager
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid no-padding *ngIf="restaurant && restaurant.categories">
    <ion-row>
      <ion-col col-6 *ngFor="let category of restaurant.categories">
        <ion-card (click)="onSelectCategory(category)">
            <div class="card-title">{{category.name}}</div>
            <div class="card-subtitle">{{category.menus ? category.menus.length : 0}} Menus</div>
        </ion-card>   
      </ion-col>
      <ion-col col-6>
        <ion-card (click)="addCategory()">
          <div class="card-title"><ion-icon name="add"></ion-icon></div>
          <div class="card-subtitle">Add Category</div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
