<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>Restaurants</ion-title>
    <ion-buttons end> <button ion-button (click)="logout()">Logout</button> </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <section id="list-restaurants" *ngIf="restaurants && restaurants.length > 0">
    <ion-card *ngFor="let restaurant of restaurants" (click)="onClickRestaurant(restaurant)">
        <ion-card-content>
            {{ restaurant.name }}
        </ion-card-content>
    </ion-card>
  </section>
</ion-content>
