page-category-detail {
    .menu-item {
        width: 100%;
        padding: 10px 15px;
        font-size: 14px;
        min-height: 60px;
        border-bottom: 1px solid lightgrey;
        float: left;
        line-height: 25px;
        &:hover{
            background-color: lightgrey;
        }
        .item-details {
            float: left;
            width: 75%;
        }
        .item-image {
            float: right;
            width: 25%;
        }
        & h6,p,p{
            margin: 0;
        }
    }
}
