<ion-header>
  <ion-navbar>
    <ion-title>{{category.name}}</ion-title>
    <ion-buttons end> <button ion-button (click)="onClickAddMenu()">Add Menu</button></ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div *ngIf="category.menus"  class="menu-list">
    <div class="menu-item" *ngFor="let menu of category.menus" (click)="onSelectedMenu(menu)">
        <div class="item-details">
            <h6>{{ menu.name}}</h6>
            <p>{{ menu.description }}</p>
            <p>{{ menu.price}}</p>
        </div>
        <div class="item-image">
            <img *ngIf="menu.imageUrl" src="{{menu.imageUrl}}" alt="">
        </div>
    </div>
  </div>
</ion-content>
