<ion-header>
  <ion-navbar>
    <ion-title>{{menu ? menu.name : 'Add Menu'}}</ion-title>
    <ion-buttons end> <button ion-button (click)="save()">Save</button></ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form #f="ngForm">
    <ion-item>
        <button ion-button (click)="openCameraOptions()">Camera</button>
    </ion-item>
    <img src="{{ myphoto || menu.imageUrl }}">
    <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input type="text" name="name" [(ngModel)]="menu.name" #name="ngModel" required></ion-input>
    </ion-item>
    <div *ngIf="(name.touched || name.dirty) && name.errors" class="error-message">
    <div *ngIf="name.errors.required">
        *Required.
    </div>
    </div>
    <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-textarea name="description" [(ngModel)]="menu.description" rows="4" #description="ngModel"></ion-textarea>
    </ion-item>
    <ion-item>
        <ion-label floating>Price</ion-label>
        <ion-input type="number" name="price" [(ngModel)]="menu.price" #price="ngModel"></ion-input>
    </ion-item>
    <h4 style="padding-left: 15px;">Menu Options</h4>
    <div class="menu-choice">
        <ion-list>
            <ion-item-sliding *ngFor="let choice of menu.menuChoices">
                <ion-item>
                    <p>Name : {{choice.name}}</p>
                    <p>Value: <br>
                        <!--span *ngFor="let c of choice.choices">
                            {{c}} <br>
                        </span-->
                        <span>{{choice.value}}</span>
                    </p>
                    <p>Required? : {{choice.required ? 'yes' : 'no'}}</p>
                    <p>Single Select? : {{choice.singleSelect ? 'yes' : 'no'}}</p>
                    <p>Max Selection? : {{choice.maxSelection}}</p>
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button (click)="onClickEdit(choice)">Edit</button>
                    <button ion-button color="danger" (click)="onClickDelete(choice)">Delete</button>
                </ion-item-options>
            </ion-item-sliding>
            
        </ion-list>    
        <button ion-button full (click)="onClickAddMenuOption()">Add Menu Option</button>
    </div>
  </form>
</ion-content>
