<ion-header>
  <ion-navbar>
    <ion-icon item-left name="close" (click)="closeModal()" style="font-size: 30px; padding: 0 0 0 15px;"></ion-icon>
    <ion-title>Menu Options</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <form #f="ngForm">
        <ion-item>
            <ion-label floating>Name</ion-label>
            <ion-input type="text" name="name" [(ngModel)]="menuChoice.name" #name="ngModel" required></ion-input>
        </ion-item>
        <div *ngIf="(name.touched || name.dirty) && name.errors" class="error-message">
            <div *ngIf="name.errors.required">
                *Required.
            </div>
        </div>
        <ion-item>
            <ion-label floating>All values for this option</ion-label>
            <ion-textarea name="value" [(ngModel)]="menuChoice.value" #value="ngModel" required></ion-textarea>
        </ion-item>
        <div *ngIf="(name.touched || name.dirty) && name.errors" class="error-message">
            <div *ngIf="value.errors.required">
                *Required.
            </div>
        </div>
        <ion-item>
            <ion-label>Required ?</ion-label>
            <ion-toggle name="required" [(ngModel)]="menuChoice.required"></ion-toggle>   
        </ion-item>
        <ion-item>
            <ion-label>Single Select ?</ion-label>
            <ion-toggle name="singleSelect" [(ngModel)]="menuChoice.singleSelect"></ion-toggle>   
        </ion-item>
        <ion-item>
            <ion-label floating>Maximum Selection</ion-label>
            <ion-input type="number" name="maxSelection" [(ngModel)]="menuChoice.maxSelection" #maxSelection="ngModel" [disabled]="menuChoice.singleSelect"></ion-input>
        </ion-item>
    </form>
</ion-content>
